<header>
    <a href="/"><h1>Paul Sermon</h1></a>
    
    <nav>
        <ul>    
        {% for page in collections['top-level'] %}
            <li><a href="{{page.url}}">{{page.data.title}}</a></li>
        {% endfor %}
        </ul>
    </nav>
</header>