<header>
    <a href="/"><h1>Paul Sermon</h1></a>
    <ul>
        
    {% for page in collections['top-level'] %}
        <a href="{{page.url}}">{{page.data.title}}</a>
    {% endfor %}
    </ul>
</header>