---
title: Paul Sermon - Comedy, Improv, and all the other hobbies
description: Personal site of Paul Sermon, Carmarthenshire based comedian, improviser, and all-round hobbyist.
---

<h1>Hello</h1>

<p>11ty is quick</p>

<ul>
    {% for post in collections.blog %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
</ul>